<!doctype html>
<html lang="en">
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="../../assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link href="../../assets/css/icons/style.css" rel="stylesheet">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="../../assets/css/sign-in.css" rel="stylesheet">
    <title><%= title %></title>
  </head>
  <body>
    <div class="gogtas-sec">

      <div class="row m-0">
        <div class="left-col">
          <div class="left-col-logo">
            <a href="#">
              <svg width="124" height="54" viewbox="0 0 124 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23.8477 24.1001C23.8477 17.3471 29.3221 11.8727 36.0751 11.8727C42.8281 11.8727 48.3025 17.3471 48.3025
                      24.1001V36.3275H36.0751C29.3221 36.3275 23.8477 30.8531 23.8477 24.1001Z" fill="url(#paint0_linear_2_227)"/>
                <circle cx="36.0754" cy="24.0999" r="7.3092" transform="rotate(-1.9518 36.0754 24.0999)" fill="white"/>
                <path d="M27.8265 23.6726C27.8265 25.4983 27.5064 27.2056 26.8662 28.7942C26.2497 30.3592 25.3842 31.7107 24.2698
                      32.8489C23.1791 33.9633 21.8631 34.8525 20.3218 35.5164C18.7806 36.1566 17.1208 36.4767 15.3425 36.4767C13.493 36.4767
                      11.7621 36.1447 10.1497 35.4808C8.53731 34.8169 7.13835 33.9159 5.95278 32.7777C4.79092 31.6159 3.86618 30.2525 3.17855
                      28.6875C2.49093 27.1226 2.14711 25.4391 2.14711 23.637C2.14711 21.8349 2.47907 20.1514 3.14299 18.5865C3.83062 17.0215
                      4.75536 15.67 5.91721 14.5319C7.10278 13.37 8.50175 12.4571 10.1141 11.7932C11.7265 11.1293 13.4456 10.7973 15.2713
                      10.7973C17.3342 10.7973 19.2785 11.2123 21.1043 12.0422C22.9301 12.8721 24.4358 14.0102 25.6213 15.4566L22.0291
                      18.7643C21.1517 17.721 20.1322 16.9267 18.9703 16.3813C17.8322 15.8123 16.5992 15.5277 15.2713 15.5277C14.1569 15.5277
                      13.1136 15.7411 12.1414 16.1679C11.193 16.571 10.3631 17.1401 9.65175 17.8751C8.96412 18.5865 8.41876 19.4401 8.01566
                      20.436C7.63628 21.4081 7.44659 22.4751 7.44659 23.637C7.44659 24.7989 7.64814 25.8777 8.05123 26.8736C8.45432 27.8695
                      9.01154 28.7349 9.72288 29.47C10.4342 30.1813 11.276 30.7504 12.2481 31.1772C13.244 31.5803 14.2992 31.7818 15.4136
                      31.7818C17.1682 31.7818 18.6739 31.2958 19.9306 30.3236C21.211 29.3514 22.0053 28.1066 22.3136
                      26.5891H14.9512V22.1076H27.8265V23.6726Z" fill="url(#paint1_linear_2_227)"/>
                <path d="M26.8662 28.7942L26.2878 28.5612L26.2861 28.5657L26.8662 28.7942ZM24.2698 32.8489L23.8243 32.4126L23.8242
                      32.4127L24.2698 32.8489ZM20.3218 35.5164L20.561 36.0922L20.5685 36.089L20.3218 35.5164ZM10.1497 35.4808L9.91228
                      36.0574L10.1497 35.4808ZM5.95278 32.7777L5.5118 33.2187L5.52098 33.2275L5.95278 32.7777ZM3.17855 28.6875L2.60772
                      28.9383V28.9383L3.17855 28.6875ZM3.14299 18.5865L2.57211 18.3356L2.569 18.343L3.14299 18.5865ZM5.91721 14.5319L6.35353
                      14.9773L6.35362 14.9772L5.91721 14.5319ZM10.1141 11.7932L10.3515 12.3697H10.3515L10.1141 11.7932ZM21.1043 12.0422L21.3623
                      11.4745L21.1043 12.0422ZM25.6213 15.4566L26.0437 15.9153L26.4767 15.5166L26.1035 15.0613L25.6213 15.4566ZM22.0291
                      18.7643L21.5518 19.1656L21.9716 19.6648L22.4514 19.223L22.0291 18.7643ZM18.9703 16.3813L18.6915 16.939L18.6984
                      16.9425L18.7054 16.9458L18.9703 16.3813ZM12.1414 16.1679L12.3853 16.7418L12.3921 16.7388L12.1414 16.1679ZM9.65175
                      17.8751L9.20369 17.4415L9.20345 17.4418L9.65175 17.8751ZM8.01566 20.436L7.43766 20.202L7.43482 20.2093L8.01566
                      20.436ZM8.05123 26.8736L7.47327 27.1075L8.05123 26.8736ZM9.72288 29.47L9.27477 29.9036L9.28199 29.9109L9.72288
                      29.47ZM12.2481 31.1772L11.9975 31.7481L12.0058 31.7518L12.0142 31.7552L12.2481 31.1772ZM19.9306 30.3236L19.5535
                      29.827L19.5491 29.8304L19.9306 30.3236ZM22.3136 26.5891L22.9246 26.7132L23.0765 25.9656H22.3136V26.5891ZM14.9512
                      26.5891H14.3277V27.2126H14.9512V26.5891ZM14.9512 22.1076V21.4841H14.3277V22.1076H14.9512ZM27.8265
                      22.1076H28.45V21.4841H27.8265V22.1076ZM27.203 23.6726C27.203 25.4238 26.8963 27.0514 26.2879 28.5612L27.4445
                      29.0273C28.1165 27.3598 28.45 25.5729 28.45 23.6726H27.203ZM26.2861 28.5657C25.6984 30.0575 24.8772 31.3373 23.8243
                      32.4126L24.7153 33.2851C25.8912 32.0841 26.801 30.6608 27.4463 29.0227L26.2861 28.5657ZM23.8242 32.4127C22.7945 33.4648
                      21.5476 34.3095 20.0752 34.9437L20.5685 36.089C22.1786 35.3954 23.5637 34.4617 24.7154 33.285L23.8242 32.4127ZM20.0827
                      34.9406C18.6221 35.5473 17.0442 35.8532 15.3425 35.8532V37.1002C17.1975 37.1002 18.9391 36.7659 20.561 36.0922L20.0827
                      34.9406ZM15.3425 35.8532C13.5694 35.8532 11.9197 35.5353 10.3871 34.9043L9.91228 36.0574C11.6045 36.7541 13.4165 37.1002
                      15.3425 37.1002V35.8532ZM10.3871 34.9043C8.84242 34.2682 7.51048 33.4088 6.38458 32.3279L5.52098 33.2275C6.76621 34.4229
                      8.2322 35.3656 9.91228 36.0574L10.3871 34.9043ZM6.39367 32.3368C5.28875 31.2319 4.40715 29.9337 3.74939 28.4367L2.60772
                      28.9383C3.32521 30.5713 4.2931 31.9998 5.51189 33.2186L6.39367 32.3368ZM3.74939 28.4367C3.09837 26.9551 2.77062 25.3575
                      2.77062 23.637H1.5236C1.5236 25.5206 1.88348 27.2901 2.60772 28.9383L3.74939 28.4367ZM2.77062 23.637C2.77062 21.9135
                      3.08767 20.3134 3.71698 18.83L2.569 18.343C1.87047 19.9895 1.5236 21.7564 1.5236 23.637H2.77062ZM3.71382 18.8373C4.3711
                      17.3414 5.25139 16.0569 6.35353 14.9773L5.48089 14.0864C4.25932 15.2831 3.29014 16.7016 2.57215 18.3357L3.71382
                      18.8373ZM6.35362 14.9772C7.47905 13.8743 8.80951 13.0047 10.3515 12.3697L9.87672 11.2166C8.19399 11.9095 6.72651 12.8657
                      5.4808 14.0865L6.35362 14.9772ZM10.3515 12.3697C11.8851 11.7383 13.5231 11.4208 15.2713 11.4208V10.1738C13.368 10.1738
                      11.5679 10.5203 9.87672 11.2166L10.3515 12.3697ZM15.2713 11.4208C17.2478 11.4208 19.1039 11.8178 20.8463 12.6098L21.3623
                      11.4745C19.4532 10.6067 17.4206 10.1738 15.2713 10.1738V11.4208ZM20.8463 12.6098C22.5916 13.4031 24.0184 14.4846 25.1391
                      15.8519L26.1035 15.0613C24.8531 13.5358 23.2686 12.341 21.3623 11.4745L20.8463 12.6098ZM25.199 14.9979L21.6067
                      18.3056L22.4514 19.223L26.0437 15.9153L25.199 14.9979ZM22.5063 18.363C21.5745 17.255 20.4838 16.403 19.2352
                      15.8169L18.7054 16.9458C19.7805 17.4504 20.729 18.187 21.5518 19.1656L22.5063 18.363ZM19.2491 15.8237C18.0206 15.2094
                      16.6916 14.9042 15.2713 14.9042V16.1512C16.5067 16.1512 17.6437 16.4151 18.6915 16.939L19.2491 15.8237ZM15.2713
                      14.9042C14.075 14.9042 12.9459 15.1338 11.8908 15.597L12.3921 16.7388C13.2813 16.3484 14.2388 16.1512 15.2713
                      16.1512V14.9042ZM11.8976 15.5941C10.8729 16.0296 9.97347 16.6461 9.20369 17.4415L10.0998 18.3088C10.7527 17.6341 11.513
                      17.1125 12.3853 16.7418L11.8976 15.5941ZM9.20345 17.4418C8.45559 18.2154 7.86823 19.1384 7.43771 20.202L8.59362
                      20.6699C8.96929 19.7418 9.47264 18.9575 10.1 18.3085L9.20345 17.4418ZM7.43482 20.2093C7.02422 21.2615 6.82308 22.4064
                      6.82308 23.637H8.0701C8.0701 22.5439 8.24834 21.5548 8.59651 20.6626L7.43482 20.2093ZM6.82308 23.637C6.82308 24.8725
                      7.03772 26.0315 7.47327 27.1075L8.62919 26.6397C8.25856 25.724 8.0701 24.7253 8.0701 23.637H6.82308ZM7.47327
                      27.1075C7.9049 28.1739 8.50498 29.1081 9.27483 29.9036L10.1709 29.0364C9.5181 28.3618 9.00375 27.565 8.62919
                      26.6397L7.47327 27.1075ZM9.28199 29.9109C10.0511 30.68 10.9584 31.2919 11.9975 31.7481L12.4988 30.6063C11.5936 30.2089
                      10.8173 29.6827 10.1638 29.0291L9.28199 29.9109ZM12.0142 31.7552C13.0872 32.1895 14.222 32.4054 15.4136
                      32.4054V31.1583C14.3763 31.1583 13.4009 30.9711 12.4821 30.5992L12.0142 31.7552ZM15.4136 32.4054C17.2911 32.4054 18.9347
                      31.8823 20.3121 30.8168L19.5491 29.8304C18.4131 30.7092 17.0454 31.1583 15.4136 31.1583V32.4054ZM20.3076 30.8202C21.7037
                      29.7602 22.585 28.3853 22.9246 26.7132L21.7026 26.4649C21.4257 27.8279 20.7184 28.9426 19.5536 29.827L20.3076
                      30.8202ZM22.3136 25.9656H14.9512V27.2126H22.3136V25.9656ZM15.5747 26.5891V22.1076H14.3277V26.5891H15.5747ZM14.9512
                      22.7311H27.8265V21.4841H14.9512V22.7311ZM27.203 22.1076V23.6726H28.45V22.1076H27.203Z" fill="white"/>
                <path d="M65.684 21.4827C65.3917 20.9468 64.9897 20.5387 64.4781 20.2586C63.9665 19.9784 63.3697 19.8383 62.6875
                      19.8383C61.9323 19.8383 61.2624 20.0088 60.6777 20.3499C60.093 20.691 59.6362 21.1782 59.3073 21.8116C58.9785 22.445
                      58.814 23.1759 58.814 24.0042C58.814 24.8568 58.9785 25.5999 59.3073 26.2333C59.6484 26.8667 60.1174 27.3539 60.7142
                      27.695C61.3111 28.036 62.0054 28.2066 62.7972 28.2066C63.7716 28.2066 64.5695 27.9508 65.1907 27.4392C65.8119 26.9154
                      66.22 26.1906 66.4149 25.2649H62.0298V23.3099H68.9363V25.5389C68.7658 26.4282 68.4003 27.2504 67.84 28.0056C67.2797
                      28.7608 66.5549 29.3698 65.6657 29.8327C64.7887 30.2834 63.8021 30.5087 62.7058 30.5087C61.4755 30.5087 60.361 30.2347
                      59.3622 29.6865C58.3755 29.1262 57.5959 28.3527 57.0234 27.3661C56.4631 26.3794 56.183 25.2588 56.183 24.0042C56.183
                      22.7495 56.4631 21.6289 57.0234 20.6422C57.5959 19.6434 58.3755 18.8699 59.3622 18.3218C60.361 17.7615 61.4694 17.4813
                      62.6875 17.4813C64.1249 17.4813 65.3734 17.8346 66.4331 18.541C67.4929 19.2354 68.2237 20.2159 68.6257
                      21.4827H65.684ZM75.3235 30.5636C74.3491 30.5636 73.4721 30.3504 72.6925 29.9241C71.9129 29.4855 71.2978 28.8704 70.8471
                      28.0787C70.4086 27.2869 70.1893 26.3733 70.1893 25.338C70.1893 24.3026 70.4147 23.389 70.8654 22.5973C71.3282 21.8055
                      71.9555 21.1965 72.7473 20.7701C73.539 20.3316 74.4222 20.1124 75.3966 20.1124C76.3711 20.1124 77.2542 20.3316 78.046
                      20.7701C78.8377 21.1965 79.4589 21.8055 79.9096 22.5973C80.3725 23.389 80.6039 24.3026 80.6039 25.338C80.6039 26.3733
                      80.3664 27.2869 79.8914 28.0787C79.4285 28.8704 78.7951 29.4855 77.9911 29.9241C77.1994 30.3504 76.3102 30.5636 75.3235
                      30.5636ZM75.3235 28.3345C75.7864 28.3345 76.2188 28.2248 76.6208 28.0056C77.035 27.7741 77.3638 27.4331 77.6075
                      26.9824C77.8511 26.5317 77.9729 25.9836 77.9729 25.338C77.9729 24.3757 77.7171 23.6387 77.2055 23.1271C76.7061 22.6034
                      76.0909 22.3415 75.3601 22.3415C74.6292 22.3415 74.0141 22.6034 73.5147 23.1271C73.0275 23.6387 72.7838 24.3757 72.7838
                      25.338C72.7838 26.3003 73.0214 27.0433 73.4964 27.5671C73.9836 28.0787 74.5927 28.3345 75.3235 28.3345ZM86.4452
                      20.1124C87.2004 20.1124 87.8643 20.2646 88.4368 20.5692C89.0093 20.8615 89.4599 21.2452 89.7888
                      21.7203V20.2768H92.3651V30.4722C92.3651 31.4101 92.1763 32.2445 91.7987 32.9754C91.4211 33.7184 90.8547 34.3031 90.0994
                      34.7294C89.3442 35.1679 88.4307 35.3872 87.3587 35.3872C85.9214 35.3872 84.7399 35.0522 83.8141 34.3822C82.9006 33.7123
                      82.3829 32.7987 82.2611 31.6416H84.8008C84.9348 32.1044 85.221 32.4699 85.6595 32.7378C86.1102 33.018 86.6523 33.1581
                      87.2857 33.1581C88.0287 33.1581 88.6316 32.9327 89.0945 32.482C89.5574 32.0435 89.7888 31.3736 89.7888
                      30.4722V28.9009C89.4599 29.3759 89.0032 29.7718 88.4185 30.0885C87.846 30.4052 87.1882 30.5636 86.4452 30.5636C85.5925
                      30.5636 84.8129 30.3443 84.1065 29.9058C83.4 29.4673 82.8397 28.8521 82.4255 28.0604C82.0235 27.2564 81.8225 26.3368
                      81.8225 25.3014C81.8225 24.2782 82.0235 23.3708 82.4255 22.579C82.8397 21.7872 83.3939 21.1782 84.0882 20.7519C84.7947
                      20.3255 85.5803 20.1124 86.4452 20.1124ZM89.7888 25.338C89.7888 24.7167 89.667 24.1869 89.4234 23.7484C89.1798 23.2977
                      88.8509 22.9566 88.4368 22.7252C88.0226 22.4816 87.578 22.3597 87.1029 22.3597C86.6279 22.3597 86.1894 22.4755 85.7874
                      22.7069C85.3854 22.9383 85.0566 23.2794 84.8008 23.7301C84.5572 24.1686 84.4353 24.6924 84.4353 25.3014C84.4353 25.9105
                      84.5572 26.4464 84.8008 26.9093C85.0566 27.36 85.3854 27.7071 85.7874 27.9508C86.2016 28.1944 86.6401 28.3162 87.1029
                      28.3162C87.578 28.3162 88.0226 28.2005 88.4368 27.969C88.8509 27.7254 89.1798 27.3843 89.4234 26.9458C89.667 26.4951
                      89.7888 25.9592 89.7888 25.338ZM97.8416 22.378V27.2747C97.8416 27.6158 97.9208 27.8655 98.0791 28.0238C98.2497 28.17
                      98.5298 28.2431 98.9196 28.2431H100.107V30.3991H98.4994C96.3434 30.3991 95.2654 29.3516 95.2654
                      27.2564V22.378H94.0595V20.2768H95.2654V17.7737H97.8416V20.2768H100.107V22.378H97.8416ZM101.289 25.3014C101.289 24.2782
                      101.49 23.3708 101.892 22.579C102.306 21.7872 102.861 21.1782 103.555 20.7519C104.261 20.3255 105.047 20.1124 105.912
                      20.1124C106.667 20.1124 107.325 20.2646 107.885 20.5692C108.458 20.8737 108.915 21.2574 109.256
                      21.7203V20.2768H111.832V30.3991H109.256V28.9191C108.927 29.3942 108.47 29.7901 107.885 30.1068C107.313 30.4113 106.649
                      30.5636 105.894 30.5636C105.041 30.5636 104.261 30.3443 103.555 29.9058C102.861 29.4673 102.306 28.8521 101.892
                      28.0604C101.49 27.2564 101.289 26.3368 101.289 25.3014ZM109.256 25.338C109.256 24.7167 109.134 24.1869 108.89
                      23.7484C108.647 23.2977 108.318 22.9566 107.904 22.7252C107.489 22.4816 107.045 22.3597 106.57 22.3597C106.095 22.3597
                      105.656 22.4755 105.254 22.7069C104.852 22.9383 104.523 23.2794 104.268 23.7301C104.024 24.1686 103.902 24.6924 103.902
                      25.3014C103.902 25.9105 104.024 26.4464 104.268 26.9093C104.523 27.36 104.852 27.7071 105.254 27.9508C105.668 28.1944
                      106.107 28.3162 106.57 28.3162C107.045 28.3162 107.489 28.2005 107.904 27.969C108.318 27.7254 108.647 27.3843 108.89
                      26.9458C109.134 26.4951 109.256 25.9592 109.256 25.338ZM118.204 30.5636C117.375 30.5636 116.632 30.4174 115.975
                      30.125C115.317 29.8205 114.793 29.4125 114.403 28.9009C114.026 28.3893 113.819 27.8229 113.782 27.2016H116.358C116.407
                      27.5914 116.596 27.9142 116.925 28.17C117.266 28.4258 117.686 28.5537 118.185 28.5537C118.673 28.5537 119.05 28.4563
                      119.318 28.2614C119.598 28.0665 119.738 27.8168 119.738 27.5122C119.738 27.1834 119.568 26.9397 119.227 26.7814C118.898
                      26.6109 118.368 26.4282 117.637 26.2333C116.882 26.0505 116.261 25.8617 115.774 25.6668C115.299 25.472 114.884 25.1735
                      114.531 24.7716C114.19 24.3696 114.02 23.8275 114.02 23.1454C114.02 22.5851 114.178 22.0735 114.495 21.6106C114.823
                      21.1478 115.286 20.7823 115.883 20.5143C116.492 20.2464 117.205 20.1124 118.021 20.1124C119.227 20.1124 120.189 20.4169
                      120.908 21.0259C121.626 21.6228 122.022 22.4328 122.095 23.456H119.647C119.611 23.0541 119.44 22.7374 119.135
                      22.5059C118.843 22.2623 118.447 22.1405 117.948 22.1405C117.485 22.1405 117.126 22.2258 116.87 22.3963C116.626 22.5668
                      116.504 22.8043 116.504 23.1089C116.504 23.4499 116.675 23.7118 117.016 23.8945C117.357 24.0651 117.887 24.2417 118.606
                      24.4244C119.336 24.6071 119.939 24.7959 120.414 24.9908C120.89 25.1857 121.298 25.4902 121.639 25.9044C121.992 26.3063
                      122.175 26.8423 122.187 27.5122C122.187 28.0969 122.022 28.6207 121.693 29.0836C121.377 29.5464 120.914 29.9119 120.305
                      30.1799C119.708 30.4357 119.008 30.5636 118.204 30.5636Z" fill="#252A3D"/>
                <defs>
                  <lineargradient id="paint0_linear_2_227" x1="29.4476" y1="14.6912" x2="48.3025" y2="38.2195" gradientunits="userSpaceOnUse">
                    <stop stop-color="#FD5054"/>
                    <stop offset="1" stop-color="#FD9A3F"/>
                  </lineargradient>
                  <lineargradient id="paint1_linear_2_227" x1="6.39161" y1="14.6932" x2="50.9006" y2="51.9509" gradientunits="userSpaceOnUse">
                    <stop offset="0.11633" stop-color="#1652F0"/>
                    <stop offset="1" stop-color="#00C2FF"/>
                  </lineargradient>
                </defs>
              </svg>
            </a>
          </div>
          <div class="left-col-item">
            <ul>
              <li id="dashboardNav">
                <a href="/dashboard">
                  <span class="icon-category icon"></span>Dashboard</a>
              </li>
              <li id="instituteNav"> 
                <a href="/institute">
                  <span class="icon-buildings icon"></span>Add Institute</a>
              </li>
              <li id="settingsNav">
                <a href="/settings">
                  <span class="icon-setting"></span>Settings</a>
              </li>
              <li>
                <a href="/logout">
                  <span class="icon-login"></span>Log out</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="top-col cont-col">
          <div class="top-col-row">
            <div class="top-col-heading">
              <h2><%- header %></h2>
            </div>
            <div class="top-col-profile">
              <div class="top-col-profile-des">
                <h3><%- username %></h3>
                <h4>
                  <a href="/logout">Log out</a>
                </h4>
              </div>
              <div class="top-col-profile-img">
                <img src="../../assets/images/profile-img.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="cont__part">
            <div class="cont__part__inner">
                
                <%- body %>
            </div>

        </div>
      </div>
    </div>
  </div>

</div>
<script src="../../assets/js/jquery.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script>
    var sidebar = '<%- sidebar %>'
    console.log(sidebar);
    if(sidebar == "dashboard"){
        $("#dashboardNav").addClass("activ");
    }
    if(sidebar == "institute"){
        $("#instituteNav").addClass('activ');
    }
    if(sidebar == "settings"){
        $("#settingsNav").addClass('activ');
    }
</script>
</body>
</html>